@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;300;400;500;600&display=swap");

.header {
  position: relative;
}

.globalWrapper {
  height: 100%;
  background: #e8e8e8;
  padding-bottom: 20px;
}

.main {
  font-family: "Raleway", sans-serif;
  display: flex;
  justify-content: space-between;
  gap: 40px;
  background-color: #eaeaea;
  padding: 74px 14px 50px 21px;

  .productsCount {
    width: 70%;
    display: flex;
    flex-direction: column;

    .h1 {
      font-size: 35px;
      font-weight: 100;
      margin-left: 20px;
      margin-bottom: 20px;
    }

    .itemsWrapper {
      display: flex;
      flex-direction: column;
      gap: 25px;
    }
  }
}

@media (max-width: 1010px) {
  .main {
    width: 100%;
    padding-inline: 0;
    flex-direction: column;
    gap: 70px;
    align-items: center;

    .productsCount {
      justify-content: center;
      width: 90%;
      gap: 20px;

      .h1 {
        text-align: start;
        margin: 0;
      }

      .img {
        object-fit: contain;
      }
    }
  }
}

@media (max-width: 670px) {
  .main {
    flex-direction: column;
    padding: 34px 20px;
    gap: 90px;

    .productsCount {
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: 12px;

      .h1 {
        margin: 0;
        font-size: 29px;
        border: 1px solid black;
        text-align: center;
        background-color: #ffffff87;
      }
    }
  }
}
