@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;300;400;500;600&display=swap");

.header {
  position: relative;
}

.globalWrapper {
  height: 100%;
  background: #e8e8e8;
  padding-bottom: 20px;
}

.main {
  font-family: "Raleway", sans-serif;
  display: flex;
  justify-content: space-between;
  gap: 40px;
  background-color: #eaeaea;
  padding: 74px 14px 50px 21px;

  .productsCount {
    width: 70%;
    display: flex;
    flex-direction: column;
    gap: 80px;

    .h1 {
      font-size: 35px;
      font-weight: 100;
      margin-left: 20px;
      margin-bottom: 10px;
    }

    .itemCardWrapper {
      display: flex;
      justify-content: space-around;
      border: 1px solid rgb(0, 0, 0);
      background: linear-gradient(
        226deg,
        rgba(255, 255, 255, 0.258) 0%,
        rgba(181, 180, 180, 0.246) 42.71%,
        rgba(50, 50, 50, 0.097) 93.75%
      );
      min-height: 185px;
      box-shadow: 0px 10px 24px 0px rgba(0, 0, 0, 0.082);

      .imageWrapper {
        display: flex;
        width: 30%;
        position: relative;

        .img {
          width: 100%;
          height: 100%;
        }
      }

      .infoWrapper {
        display: flex;
        justify-content: space-between;
        width: 60%;
        gap: 30px;
        padding-block: 20px;
        padding-right: 35px;

        .generalDescription {
          display: flex;
          flex-direction: column;
          gap: 80px;
          justify-content: space-between;
          min-width: 60%;
          max-width: 70%;

          .prdName h3 {
            font-size: 25px;
            font-weight: 500;
            letter-spacing: 1.5px;
            text-transform: uppercase;
          }

          .prdName span {
            font-size: 18px;
            font-weight: 100;
          }

          .sizeQt {
            display: flex;
            justify-content: space-between;
            letter-spacing: 1.3px;
            font-weight: 100;
            font-size: 17px;
          }
        }

        .prices {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          align-items: flex-end;
        }

        .prices h4 {
          font-size: 18px;
          font-weight: 100;
          line-height: normal;
        }

        .prices h3 {
          font-size: 24px;
          font-weight: 600;
        }
      }

      .actionButtonsWrapper {
        width: 5%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .btnList {
          display: flex;
          flex-direction: column;
          align-items: center;
          gap: 7px;
          border-left: 1px solid rgb(0, 0, 0);
          padding: 20px 0 10px 12px;
        }

        .btnList svg {
          stroke: black;
        }
      }
    }
  }

  .summary {
    width: 30%;
    display: flex;
    flex-direction: column;

    .h2 {
      font-size: 33px;
      font-weight: 100;
      margin-bottom: 12px;
    }

    .summaryInfoWrapper {
      border: 1px solid #000;
      padding: 12px 13px;
    }

    .summaryCount {
      background: #eaeaea;
      font-size: 20px;
      font-weight: 100;

      .summaryTotal {
        font-weight: 600;
      }
    }

    .summaryCount div {
      display: flex;
      justify-content: space-between;
      padding-block: 10px;
    }

    .buttonsWrapper {
      display: flex;
      flex-direction: column;
      margin-top: 70px;
      margin-bottom: 200px;

      gap: 12px;

      .button {
        border: 1px solid #000;
        box-shadow: 0px 12px 24px 0px rgba(0, 0, 0, 0.1);
        text-transform: uppercase;
        font-size: 13px;
        font-weight: 100;

        /* margin-inline: 40px; */
        padding: 10px;
      }

      .button.checkout {
        color: #e8e8e8;
        background: #000;
      }

      .button.payWithPP {
        background: #e8e8e8;
      }
    }
  }
}

/* If cart is empty */

.cartEmptySection {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 27%;
  padding: 74px 20px 40px 20px;
  margin: 20px auto;
  border: 1px solid black;

  .titleWrapper {
    position: relative;
    text-align: center;
    min-width: 800px;
    font-size: 30px;
    background-color: #e8e8e8;
    padding: 30px 10px;
  }

  .titleWrapper h1 {
    font-weight: 200;
    text-transform: uppercase;
  }

  .emptyIcoWrapper {
    margin-bottom: 50px;
  }

  .suggestionsWrapper {
    display: flex;
    flex-direction: column;
    align-content: center;
    gap: 30px;

    .suggestionsTitle {
      font-size: 26px;
      font-weight: 200;
      text-decoration-line: underline;
    }

    .suggestionsList {
      display: flex;
      flex-direction: column;
      gap: 20px;
    }

    .suggestionsList li {
      font-size: 16px;
      font-style: normal;
      font-weight: 200;
      line-height: 100%;
      transition: 300ms ease-out;
      width: fit-content;
    }

    .suggestionsList li:hover {
      transform: translateX(6px);
    }
  }
}

/* On Edit view */

.overlay {
  display: grid;
  place-items: center;
  /* display: none; */

  background-color: #0000001f;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 4;

  .editView {
    font-family: "Raleway", sans-serif;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-width: 60%;
    min-height: 80%;
    margin-top: 100px;
    padding: 60px 20px;

    background: #e8e8e8;
    border: 1px solid #000;
    box-shadow: 0px 12px 30px 0px rgba(0, 0, 0, 0.25);

    .mainContentWrapper {
      display: flex;

      .selectionsWrapper {
        display: flex;
        flex-direction: column;
        width: 62%;
        gap: 100px;

        .title {
          width: 100%;
        }

        .title h3 {
          font-size: 30px;
          font-weight: 500;
          letter-spacing: 2.25px;
          text-transform: uppercase;
        }

        .title span {
          font-size: 18px;
          font-weight: 200;
          line-height: normal;
        }

        .optionsWrapper {
          display: flex;
          flex-direction: column;
          padding-left: 20px;
          gap: 70px;
          max-width: 75%;

          .input {
            position: relative;
            display: flex;
            justify-content: space-between;
            align-items: center;
            font-size: 25px;
            font-weight: 200;
            padding: 5px 40px 5px 20px;
            border: 1px solid black;

            .selectorWrapper {
              position: absolute;
              display: flex;
              justify-content: center;
              align-content: center;
              top: -7px;
              right: 40px;
              box-shadow: 0px 12px 24px 0px rgba(0, 0, 0, 0.15);
              border: 1px solid black;

              .select {
                width: 100%;
                padding: 14px 30px 14px 20px;
                border: none;
                appearance: none;
                background-color: #e8e8e8;
                font-size: 20px;
              }

              .inputSvg {
                position: absolute;
                display: flex;
                align-items: center;
                height: 100%;
                right: 0;
                padding-right: 10px;
                pointer-events: none;
              }
            }
          }
        }
      }

      .pictureAndPrices {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: space-between;
        width: 38%;

        .pictureWrapper {
          position: relative;
          display: flex;
          justify-content: center;
          width: 100%;
          height: 60%;

          .img {
            object-fit: contain;
            border: 1px solid black;
          }
        }

        .prices {
          display: flex;
          display: flex;
          flex-direction: column;
          gap: 40px;
        }

        .prices div {
          font-weight: 200;
          text-align: end;

          .priceLabel {
            font-size: 22px;
            font-weight: 200;
            letter-spacing: 1.8px;
          }

          &.totalPriceSection span {
            font-weight: 600;
          }
        }
      }
    }

    .saveAndCancelWrapper {
      display: flex;
      justify-content: space-evenly;

      .button {
        width: 42%;
        padding-block: 7px;
        border: 1px solid black;
        background-color: #39dd00;
        text-transform: uppercase;
        font-size: 13px;
      }

      .button.cancelButton {
        color: #d8d7d7;
        background-color: #d80000;
      }
    }
  }
}

@media (max-width: 1010px) {
  .main {
    width: 100%;
    padding-inline: 0;
    flex-direction: column;
    gap: 70px;
    align-items: center;

    .productsCount {
      justify-content: center;
      width: 90%;
      gap: 20px;

      .h1 {
        text-align: start;
        margin: 0;
      }

      .img {
        object-fit: contain;
      }
    }

    .summary {
      width: 80%;
      margin-top: 0px;

      .summaryInfoWrapper {
        border: 1px solid #000;
        border-radius: 0px;
        padding-inline: 30px;
      }
    }
  }

  .overlay {
    .editView {
      min-width: 80%;
    }
  }
}

@media (max-width: 670px) {
  .cartEmptySection {
    position: relative;
    max-width: 60%;
    padding: 30px 0;
    margin: 30px auto;
    border: 1px solid black;

    .titleWrapper {
      min-width: 350px;
      font-size: 20px;
      padding: 10px 0px;
    }

    .emptyIcoWrapper {
      margin-block: 40px;
    }

    .emptyIcoWrapper svg {
      width: 170px;
      height: 170px;
    }

    .suggestionsWrapper {
      align-content: center;
      gap: 15px;

      .suggestionsTitle {
        text-align: center;
        font-size: 16px;
      }

      .suggestionsList {
        gap: 10px;
      }

      .suggestionsList li {
        font-size: 12px;
      }
    }
  }

  .main {
    flex-direction: column;
    padding: 34px 20px;
    gap: 90px;

    .productsCount {
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: 12px;

      .h1 {
        margin: 0;
        font-size: 29px;
        border: 1px solid black;
        text-align: center;
        background-color: #ffffff87;
      }

      .itemCardWrapper {
        flex-direction: column;

        .imageWrapper {
          display: flex;
          justify-content: center;
          align-self: center;
          width: 90%;

          .img {
            width: 70%;
          }
        }

        .infoWrapper {
          width: 100%;
          gap: 2px;
          padding: 0;
          padding-inline: 20px;

          .generalDescription {
            gap: 60px;

            .prdName h3 {
              font-size: 20px;
            }

            .prdName span {
              font-size: 15px;
            }

            .sizeQt {
              flex-direction: column;
              gap: 5px;
              font-size: 15px;
            }
          }

          .prices h4 {
            font-size: 16px;
          }

          .prices h3 {
            font-size: 23px;
          }
        }

        .actionButtonsWrapper {
          width: 100%;
          flex-direction: row;
          margin-top: 40px;

          .btnList {
            justify-content: center;
            flex-direction: row;
            gap: 22px;
            border-left: 0;
            border-top: 1px solid black;
            padding: 7px 25px 3px;
          }
        }
      }
    }

    .summary {
      width: 100%;
      margin-top: 0;

      .h2 {
        font-size: 29px;
        margin-bottom: 12px;
        text-align: center;
        border: 1px solid black;
        background-color: #ffffff87;
      }

      .summaryInfoWrapper {
        border: 1px solid #000;
        border-radius: 0px;
        padding: 12px 13px;
      }
    }
  }

  .overlay {
    .editView {
      min-width: 90%;
      min-height: 95%;
      margin-top: 0;
      padding: 40px 10px;

      .mainContentWrapper {
        flex-direction: column-reverse;
        gap: 40px;

        .selectionsWrapper {
          flex-direction: column;
          width: 100%;
          gap: 50px;

          .title h3 {
            font-size: 20px;
            letter-spacing: 2px;
          }

          .title span {
            font-size: 16px;
          }

          .optionsWrapper {
            display: flex;
            flex-direction: column;
            padding-left: 0px;
            gap: 30px;
            max-width: 100%;

            .input {
              font-size: 17px;

              .selectorWrapper {
                top: -5.5px;

                .select {
                  padding: 10px 25px 10px 15px;
                  font-size: 16px;
                }
              }
            }
          }
        }

        .pictureAndPrices {
          flex-direction: row;
          width: 100%;

          .pictureWrapper {
            width: 55%;
            height: 230px;
          }

          .prices {
            flex-direction: column;
            gap: 20px;
          }

          .prices div {
            padding-left: 10px;
            text-align: inherit;
            font-weight: 200;

            .priceLabel {
              font-size: 17px;
              font-weight: 200;
              letter-spacing: 1.8px;
            }

            &.totalPriceSection span {
              font-weight: 600;
            }
          }
        }
      }

      .saveAndCancelWrapper {
        display: flex;
        justify-content: space-evenly;

        .button {
          width: 42%;
          padding-block: 7px;
          border: 1px solid black;
          background-color: #39dd00;
          text-transform: uppercase;
          font-size: 13px;
        }

        .button.cancelButton {
          color: #d8d7d7;
          background-color: #d80000;
        }
      }
    }
  }
}
