.flexRow {
  display: flex;
  flex-direction: row;
}

.flexColumn {
  display: flex;
  flex-direction: column;
}

.filtersBar {
  font-family: "Raleway", sans-serif;
  letter-spacing: 0.08em;

  justify-content: space-between;
  align-items: center;
  background: #f2f2f2;

  .sectionName {
    margin-left: 25px;
    padding: 2px 16px;
    border-inline: 1px black inset;
  }

  .sectionName h4 {
    font-size: 16px;
    font-weight: 400;
    font-variant: all-small-caps;
  }

  .filtersAndSelections {
    position: relative;
    font-size: 18px;
    font-variant: all-small-caps;
    font-weight: 500;
    height: 100%;
    gap: 50px;
    background: #fff;

    .filters,
    .selections {
      border-inline: 1px solid black;
      /* padding: 5px 23px; */
    }

    .filters {
      gap: 35px;

      .filtersOptionsWrapper {
        position: absolute;
        top: 30.5px;
        bottom: 0;
        right: 0;
        left: 0;
        padding-inline:20px; 
        background-color: #ffffff;
        z-index: 4;
        /* transition: padding-block 200ms ease-out; */
        overflow: hidden;

        .listOptionsWrapper {
          gap: 20px;
        }

        .filtersOptions {
          column-gap: 8px;
          row-gap: 3px;
          flex-wrap: wrap;
        }

        .filtersOptions li {
          align-content: center;
          font-variant: normal;
          font-size: 15px;
          font-weight: 200;
          text-transform: capitalize;
          display: flex;
          gap: 3px;
        }
      }
    }
  }

  .filterButton {
    padding: 5px 23px;
    gap: 7px;
  }

  .filterButton span {
    transition: transform 300ms ease-out;
  }

  .filterButton span svg {
    stroke-width: 2px;
    width: 10px;
    height: 10px;
    transform: rotate(90deg);
  }

  .groupWrapper:hover .filterButton span {
    transform: rotate(-180deg) translateY(-2px);
  }

  .selections {
    padding-inline: 15px;
  }
}
