@import url("https://fonts.googleapis.com/css2?family=Antic&family=Poppins:wght@600&display=swap");

.article .artTitleWrapper {
  font-family: "Raleway", sans-serif;
  border-bottom: 1px solid black;
  width: 100%;
}

.article a {
  display: flex;
  flex-direction: column;
  height: 570px;
  border: 1px solid black;
}

.article .artTitle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 20px;
  font-size: 18px;
  font-weight: 400;
  text-transform: uppercase;
  color: black;

  .subTitle {
    font-size: 12px;
  }
}

.span2 {
  grid-column: span 2;
}

.span2 a {
  height: 700px !important;
}

.article .imgWrapper {
  position: relative;
  width: 100%;
  height: 100%;
}

.imgWrapper .image {
  object-fit: cover;
  filter: brightness(90%);
}

@media (max-width: 900px) {
  .span2 {
    grid-column: 1;
  }
}
