.noResults {
	display: grid;
	place-content: center;
	grid-column: span 4;
	min-height: 217px;

	.titleNoResults {
		font-weight: 400;
		font-size: 27px;
	}
}

.buttonWrapper {
	width: 100%;
	display: flex;
	justify-content: center;
	padding-block: 20px;
	border-bottom: 1px solid black;
}

.btnShowMoreProducts {
	width: auto;
	text-transform: uppercase;
	font-size: 14px;
	letter-spacing: 0.6px;
	color: rgb(216, 216, 216);
	padding: 7px 13px;
	border: 1px solid rgba(0, 0, 0, 0.223);
	background-color: #000000;
	cursor: pointer;
	transition: background-color 150ms ease-out, scale 200ms;
}

.btnShowMoreProducts:hover {
	scale: 1.02;
}