* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  background-color: #ffffff;
}

a {
  color: inherit;
  text-decoration: none;
}

li {
  list-style: none;
}

button {
  background: inherit;
  letter-spacing: inherit;
  border: 0;
  font: inherit;
  cursor: pointer;
}

