@import url("https://fonts.googleapis.com/css2?family=Antic&family=Arima&display=swap");

.infoWrapper {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  height: 80vh;
}

.bgWrapper {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.background {
  /* opacity: 0.8; */
  object-fit: cover;
  object-position: 50% 25%;
}

.infoContent {
  position: absolute;
  bottom: 0px;
  width: 100%;

  display: flex;
  justify-content: flex-end;
  /* border-bottom: 2px solid rgb(65, 65, 65); */
}

.descubre {
  position: absolute;
  bottom: 0px;
  margin: 60px 164px;

  z-index: 2;
  cursor: pointer;
}

.descubreH3 {
  font-family: "Arima";
  font-style: normal;
  font-weight: 400;
  font-size: 27px;

  color: #353535;
  transition: color 150ms;
}

.descubreH3:hover {
  color: #000000;
}

.activeD {
  animation: descuMov 250ms ease-out forwards;
}

@keyframes descuMov {
  from {
    transform: translateX(0px);
  }

  to {
    transform: translateX(400px);
  }
}

.descubreSpan {
  position: absolute;
  margin: 5px auto;
}

.infoDescription {
  position: relative;
  width: 450px;

  margin-right: 164px;
  background: rgba(54, 54, 54, 0.42);
  backdrop-filter: blur(20px);

  z-index: 3;
}

.infoActive {
  animation: infoMov 300ms ease-out forwards;
}

@keyframes infoMov {
  0% {
    transform: translateX(0px);
    width: 450px;
  }

  100% {
    background: rgba(20, 20, 20, 0.42);
    transform: translateX(-280px);
    width: 520px;
  }
}

.descriptionWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;

  padding: 8px 42px 0px 42px;
  margin-bottom: 25px;
  transition: 400ms;
}

.descriptionWrapper h3 {
  font-family: "Arima";
  font-weight: 400;
  font-size: 23px;
  line-height: 52px;
  letter-spacing: 0.065em;
  text-align: center;

  color: #ffffffa4;
}

.descriptionWrapper p {
  font-family: "Antic";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: auto;
  letter-spacing: 0.065em;

  color: #ffffffa4;
}

.descriptionWrapperButton {
  display: none;
}

.dwButtonAct {
  font-family: "Antic";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;

  position: relative;
  margin-top: 10px;
  padding: 8px 17px;

  color: #ffffffa4;
  border: 2px solid rgba(196, 196, 196, 0.6);
  border-radius: 25px;
  background-color: transparent;
  filter: drop-shadow(0px 10px 15px rgba(99, 97, 97, 0.25));
  cursor: pointer;
  transition: color 150ms, border 300ms;
}

.dwButtonAct:hover {
  color: #ffffff;
  border: 2px solid #ffffff;
}

.descriptionWrapperSpan {
  display: none;
}

.arrowSpan {
  position: absolute;
  top: 25px;
  left: 42px;
  cursor: pointer;
}

.extraDescriptionSpan {
  position: relative;
}

/* Mobile */
@media (max-width: 479px) {

}

/* Tablet */
@media (max-width: 1023px) {

}

